*{
  box-sizing: border-box;
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-content {
  display:  flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid red; */
  width: 25rem;
  height: 5rem;
}

.navbar-content h1, .navbar-content h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* border: 2px solid red; */
}

.card {
  position: relative;
}

.banner-text {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: white;
  width: 90%;
}

.movie-card {
  width: 18rem;
  height: 24rem;
  margin: 1rem;
  position: relative;
}

.movies-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  /* border: 2px solid; */
}

.movie-text {
  font-size: 0.8rem;
  overflow: hidden;
}

.movie-button {
  position: absolute;
  top: 13rem;
  left: 4rem;
  height: 2rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  /* display: none; */
}

/* .movie-card:hover {
  cursor: pointer;
  background-color: rgb(48, 47, 47);
  color: white;
} */

.movie-pagination {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
